// * Contact Buttons

$contact__button: (
  padding: (
    xs: null,
    lg: null,
  ),
  margin: (
    xs: null,
    sm: null,
    md: null,
    lg: null,
    xl: null,
    xxl: null,
  ),
  color: null,
  background-color: null,
  border: (
    width: null,
    style: null,
    color: null,
    radius: null,
  ),
  hover: (
    color: null,
    background-color: null,
    border-color: null,
  ),
  trans: (
    type: null,
    duration: null,
  ),
  after: (
    use: null,
    top: null,
    left: null,
    background-color: null,
    hover: (
      top: null,
      left: null,
      background-color: null,
    ),
  ),
);

@include button(contact__button, $contact__button);