// * Footer Cards

$footer__cards: (
  columns: (
    sm: null,
    md: null,
    lg: null,
    xl: null,
    xxl: null,
  ),
  gap: null,
);

@include grid(footer__cards, $footer__cards);